.shortcodestyle{
  margin: 20px 8px !important;
  padding: 15px 15px 15px 30px !important;
  position: relative !important;
  color: #505050;
  box-shadow: 0 1px 30px -4px #e8e8e8;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px !important;
  text-indent: 0 !important;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
}

.shortcodestyle:hover{
  box-shadow: 0 1px 20px 10px #e8e8e8;
  background: rgba(255, 255, 255, 0.8);
}

.shortcodestyle i {
  margin-right: 25px;
  font-size: 20px;
}

.shortcodestyle a {
  padding: 5px !important;
}

.warning,
.noway,
.task,
.buy {
  text-indent: 0 !important;
}

.task i {
  color: #7d7d7d !important;
  text-indent: 0 !important;
}

.task p {
  text-indent: 0 !important;
}

.warning i {
  color: #F1C700 !important;
  text-indent: 0 !important;
}

.noway i {
  color: #DC143C !important;
  text-indent: 0 !important;
}

.buy i {
  color: #32CD32 !important;
  text-indent: 0 !important;
}

.showcard {
  position: relative;
  width: 240px;
  height: auto;
  left: 0;
  top: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 30px -4px #e8e8e8;
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid #FFFFFF;
}

.showcard:hover {
  box-shadow: 0 1px 20px 10px #e8e8e8;
  background: rgba(255, 255, 255, 0.8);
}

.showcard .img {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 0%;
  box-shadow: 0 1px 30px -4px #e8e8e8;
  opacity: 1;
}

.showcard .img:hover {
  box-shadow: 0 1px 20px 10px #e8e8e8;
  height: 180px;
  margin-top: 8%;
  margin-bottom: 5.1%;
  width: 180px;
  opacity: 0.9;
}

.showcard .icon-title{
  left: 5%;
  margin-top: 4%;
  position: relative;
  display: inline-flex;
  overflow: hidden; 
  max-width: 90%; 
  width: fit-content; 
  gap: 10px;
  align-items: center;
  font-size: 12px;
}

.showcard .icon-title i{
  font-size: 11px;
}

.showcard-button {
  position: absolute;
  float: right;
  box-shadow: 0 1px 30px -4px #e8e8e8;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  will-change: backdrop-filter;
  padding: 5px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  top: 0;
  right: 0;
  margin: 10px;
  transition: all 0.4s cubic-bezier(0.07, 0.53, 0.65, 0.95);
}

.showcard .img:hover .showcard-button {
  font-size: 32px;
  width: 60px;
  height: 60px;
  top: 27.5%;
  right: 27.5%;
  box-shadow: 0 1px 20px 8px #e8e8e8;
  background: rgba(255, 255, 255, 0.8);
}

.screen-reader-text {
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  /* Above WP toolbar. */
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 999;
}

.conversations-code{
  display: flex; 
  padding: 10px;
}

.conversations-code img{
  border-radius: 50%;
  width:40px;
  height: 40px;
}

.conversations-code-text {
  margin: auto 10px;
  padding: 8px 14px;
  color: #505050;
  max-width: 80%;
  width: fit-content;
  font-size: 15px;
  box-shadow: 0 1px 30px -4px #e8e8e8;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px !important;
  text-indent: 0 !important;
  border: 1.5px solid #FFFFFF;
}

.conversations-code-text:hover {
  box-shadow: 0 1px 20px 10px #e8e8e8;
  background: rgba(255, 255, 255, 0.8);
}