@layer layout {
    .content.flex-center {
        position: relative;
        width: 100vw;
        .container {
            position: relative;
            max-width: 860px;
            width: 100%;
        }
        @media (max-width: 860px) {
            .container {
                padding: 0 4%;
            }
        }
    }
}
