html {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Microsoft YaHei",
        Roboto,
        Ubuntu,
        "Helvetica Neue",
        Arial,
        sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: var(--global-font-size, 16px);
    scroll-behavior: smooth;
}

@layer rest {
    *:not(article.post-content *, .wp-widget *),
    *:not(article.post-content *, .wp-widget *)::before,
    *:not(article.post-content *, .wp-widget *)::after,
    .page-template * {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }

    :after,
    :before {
        box-sizing: inherit;
    }

    ::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background-color: #eee;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--word-color-first);
        border-radius: 25px;
    }

    body {
        height: 100dvh;
        width: 100dvw;
        margin: 0;
        text-shadow: 0 0 0.06rem rgba(0, 0, 0, 0.1);
        color: var(--word-color-first, #505050);
        line-height: 1.5;
        font-size: 0.95rem;
        background-attachment: fixed;
        background-position: center;
        scrollbar-width: 6px;
        font-weight: var(--global-font-weight);
    }

    $outside-content: ":not(article.post-content *, .wp-widget *)";

    .page-template a,
    a#{$outside-content} {
        background-color: transparent;
        text-decoration: none;
        color: var(--word-color-first, #505050);
        outline: 0;
        transition: all 0.2s ease-in-out;
        word-break: break-word;

        &:hover,
        &:active {
            color: var(--active-color);
        }
        &:hover,
        &:active,
        &:focus {
            transition: all 0.2s ease-in-out;
        }
    }

    p#{$outside-content} {
        color: var(--word-color-second);
        margin: 0;
        padding: 0;
    }

    button#{$outside-content},
    input#{$outside-content} {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        color: var(--word-color-first);
        background-color: var(--widget-background-color);
        border: var(--border-shine);
        border-radius: 0.5rem;
    }
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
    button#{$outside-content} {
        cursor: pointer;
    }

    li#{$outside-content},
    ul#{$outside-content},
    ol#{$outside-content} {
        padding-inline-start: unset;
        list-style-position: inside;
        margin: 0;
    }

    dialog#{$outside-content} {
        height: 100vh;
        width: 100vw;
        margin: 0;
        border: none;
        max-width: none;
        max-height: none;
        background: transparent;
    }

    img#{$outside-content} {
        border: 0;
        height: auto;
        max-width: 100%;
    }
}
