.nuxtpic {
    display: block;
    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}