@layer keyword {
    .nuxtpic {
        display: block;
        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hide {
        display: none;
    }
    .widget-button {
        background-color: var(--button-bg);
        color: var(--button-text);
        transition:
            background-color 0.2s ease,
            color 0.2s ease;
        &:hover {
            background-color: var(--button-hover-bg);
            color: var(--button-hover-text);
        }
        &.active,
        &:active {
            background-color: var(--button-active-bg);
            color: var(--button-active-text);
        }
    }
}
