@use "./keyword.scss";
#login .captcha * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
i {
    &.fa-icon-solid.fa-circle-info {
        --svg: url("./icons/fa/circle-info-solid-full.svg");
    }
}
