.homepage-cover {
    height: 100dvh;
    width: 100dvw;
    overflow-anchor: none;

    .cover,
    .cover-info {
        height: 100dvh;
        width: 100dvw;
        overflow-anchor: none;
    }

    .cover {
        background: var(--background-img-pc);
        background-size: cover;

        &.transparent {
            background: transparent;
        }

        @media (max-width: 860px) {
            background: var(--background-img-mb);
            background-size: cover;
        }
    }

    .cover-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 50rem;

            .cover-title {
                color: #fff;
                mix-blend-mode: lighten;
            }

            .cover-avatar {
                height: 7.5rem;
                width: 7.5rem;

                border-radius: 50%;
                overflow: hidden;

                transition: transform 0.5s ease;

                &:hover {
                    transform: rotate(360deg);
                }
            }
        }

        .socials {
            width: 65%;
            padding: 1rem;
            margin-top: 1.5rem;
            line-height: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;

            color: var(--word-color-first);
            background-color: rgb(var(--widget-background), 0.6);
            border: var(--border);
            backdrop-filter: saturate(180%) blur(10px);

            border-radius: 1rem;
            white-space: normal;

            .typed-container,
            .signature {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .typed-container,
            .signature p {
                color: var(--word-color-first);
            }
        }
    }
}