.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-top: 6rem;

    color: var(--word-color-third);
}

.empty-state svg {
    font-size: 2rem;
    opacity: 0.6;
}
