.comment-form,
.comment-form * {
    transition: all 0.4s ease-in-out;
}

.comment-form {
    width: 91%;
    margin: 0 auto;
    padding: 2rem 1.6rem;
    margin-bottom: 4rem;

    border: var(--border-shine);
    background-color: rgba(var(--widget-background), 0.5);
    box-shadow: var(--widget-shadow-shine);

    border-radius: 1rem;
    will-change: box-shadow;

    &:hover {
        box-shadow: 0 0.1rem 0.6rem -0.2rem var(--active-color);
    }

    .hide {
        display: none;
    }

    #commentform {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .reply-target {
        color: var(--active-color);
    }

    .comment-form-comment {
        height: 10rem;
        margin-bottom: 1rem;
        position: relative;

        textarea {
            font-size: 0.9rem;
            width: 100%;
            height: 100%;

            background-color: rgba(var(--widget-background), 0.5);

            border-radius: 0.6rem;
            border: var(--border-shine);
            box-shadow: var(--widget-shadow-shine);
            padding: 1.2rem;

            margin-bottom: 1.2rem;
            resize: vertical;

            outline: none;
            transition: none;

            &:focus {
                border: var(--border-sketch);
            }
        }

        .placeholder {
            padding: 0.2rem;
            position: absolute;
            left: 1rem;
            top: 0.8rem;
        }

        textarea:not(:placeholder-shown) ~ .placeholder,
        textarea:focus ~ .placeholder {
            color: #fff;
            background-color: var(--word-color-second);
            transform: scale(0.75) translate(-1rem, -2.2rem);
            border-radius: 3px;
        }
    }

    .infos,
    .checks,
    .extras {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    .infos {
        .avatar {
            border-radius: 50%;
            height: 3rem;
            aspect-ratio: 1;
            object-fit: cover;
        }

        input {
            width: 75%;
            padding: 0.5rem;
            outline: none;
            border: var(--border-shine);

            &:focus {
                border: var(--border-sketch);
            }
        }
    }

    .checks {
        .captcha {
            max-width: 20rem;
        }
    }

    .functions {
        display: flex;
        flex-flow: row-reverse;

        .submit {
            font-size: 1rem;
            width: 30%;
            max-width: 8.5rem;
            height: 2.8rem;
            margin: 0;
            padding: 0.6rem 1.25rem;

            color: rgb(var(--widget-background));
            background: var(--active-color);

            border: 0.1rem solid var(--active-color);
            border-radius: 0.6rem;
            will-change: color background-color;
        }

        .submit:hover {
            color: var(--active-color);
            background-color: rgb(var(--widget-background));
        }
    }
}
