.comment-list-title {
    margin: 2rem auto;
    font-size: 1.25rem;
    font-weight: bold;
}

.comment-count {
    font-size: 0.8rem;
    color: #707070;
    margin-left: 0.65rem;
}

.comment-list {
    list-style: none;
}