.page-taxonomy {
    position: relative;
    overflow: hidden;
}
.taxonomy-header {
    position: relative;
    overflow: hidden;
    padding-top: 8rem;
    text-align: center;
    margin-bottom: 6.5%;
}