article.post {
    width: 100%;
}
.post-content {
    width: 100%;
    margin-top: 1rem;
}
.toc {
    flex-shrink: 0;
}
.post-content {
    a {
        color: var(--active-color, #00b0f0);
    }

    a:hover,
    a:active {
        color: var(--active-color-reverse, #fccd00);
    }
}
.medium-zoom-image {
    z-index: 999;
}