.page-links {
    width: 100%;
    .categories {
        display: flex;
        flex-direction: column;
    }
    .category {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .link {
            width: 10rem;
            padding: 0.75rem;
            border-radius: 0.5rem;
            border: var(--border-shine);
            background-color: rgba(var(--widget-background), 0.5);
            transition: all 0.5s ease-in-out;
        }
    }
    .link-content {
        flex-direction: column;
        .avatar {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            box-shadow: var(--widget-shadow-shadow);
            transform: rotate(0);
            transition: transform 0.5s ease-in-out;
        }
        .name {
            font-size: 1.25rem;
            margin-top: 0.5rem;
            display: block;
            max-width: calc(100% - 1rem);
        }
        .desc {
            font-size: 0.8rem;
            max-width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .link:hover {
        box-shadow: var(--widget-shadow-shining);
        .avatar {
            transform: rotate(360deg);
        }
    }
}
